/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

html body {
  /* background: #eef2f6 url(../images/bg.jpg) no-repeat center top; */
  font-size:1em;
  line-height:1.25em;
}

html body p {
margin-bottom:0.5em;
}

#block-system-main-menu,
.logo-img,
.site-name-slogan,
#block-search-form {
  margin: 0px;
}

.logo-img {
  text-align: left;
}

.site-name-slogan {
  float: left;
  text-align: left;
  position: relative;
}

#block-search-form {
  text-align: left;
  float: right;
  position: relative;
}


body.front {
}

h2 {
  font-size:1em;
}

.front #zone-branding-wrapper{
  margin-top:3em;
}

/*********************
 *    Branding Regon *
 ********************/

HTML, BODY {
    height: 100%;
}

#page {
  min-height: 100%;
    position: relative;
}

.not-front #zone-content-wrapper {
  padding-top:1em;
}


#region-branding .branding-data {
  width:350px;
  float:left;
}
#region-branding #block-block-7 {
  width:300px;
  float:left;
  height:65px;
}

#region-branding #block-block-7 .content {
margin-top:20px;
}

/**************************
 * Un-mobilizing the menu *
 *************************/
body.not-front #zone-menu .menu li:not(#mobile-menu-link) {
  display:inline-block;
}
#mobile-menu-link {
  display:none;
}
#zone-menu .menu {
  /*height:1.5em;*/
}
#zone-menu .menu li:not(#mobile-menu-link) {
  display:inline-block;
  /*height:1.5em;*/
  border-bottom:none;
  border-right:0;
  margin-top:.25em;
  margin-bottom:.25em;
}
#zone-menu-wrapper #zone-menu .menu li.first.leaf a{
  padding-left:0;
}
#zone-menu-wrapper #zone-menu .menu li.last.leaf a{
  border-right:0px;
}


#zone-menu .menu li:not(#mobile-menu-link) a {
  border-right:1px solid white;
  padding-right:.5em;
  padding-left:.5em;
  margin-left:auto;
  margin-right:auto;
  text-transform:uppercase;
  font-size:85%;
  font-weight:bold;
  color:white;
  background-color:#DBB300;
}

/* Front page */
#zone-content {
  background-color:white;
}

/**************************
 *      Content           *
 *************************/
#zone-content-wrapper {
  background-color:white;
  color:black;

}

.page-taxonomy-term .pane-content h1,
h1#page-title,
.pane-node-title .pane-content{
  font-size:2em;
  line-height:100%;
  margin-bottom:.75em;
}

/******************
 *     Footer     *
 *****************/

/* sticky footer */
html, body {height: 100%; margin: 0;}
#page {display: table; width: 100%;}
html>/**/body #page {height: 100%;}
*:first-child+html #page {height: auto;}
.section {display: table-row;}
html>/**/body .section-content {height: 100%;}
*:first-child+html body .section-content {height: auto;}




#block-nodeblock-cm-footer .block-title {
  display: none;
}

#section-footer {
  font-size:80%;
}

#section-footer h3 {
  text-shadow: 1px 1px 1px #111;
}

#section-footer div.cell {
 /* display: table-cell;
  width: 558px;
  vertical-align: top;
  padding-right: 30px;*/
}

#section-footer a:link,
#section-footer a:visited,
#section-footer a:hover,
#section-footer a:active {
  color: #60c1fe;
  text-decoration: underline;
}

#region-footer-first h2,
#region-footer-first .menu a:link,
#region-footer-first .menu a:visited {
  color:white;
}
#zone-footer .block-inner .content,
#zone-postscript .block-inner .content{
  padding-top:1em;
}


.view-id-term_slideshow img{
  max-width:100%;
  width:auto;
  height:auto;
}
.view-id-term_slideshow .flexslider,
.pane-node-field-location-logo .field-name-field-location-logo{
  border:none;
  margin-top:4px;
}
.field-name-field-location-category.field-type-taxonomy-term-reference div.field-item{
  display:inline;  
}


/*************************
 *  Background Slideshow *
 ************************/
.bgstretcher-page,
.bgstretcher-area{
  height:100%;
}

.view-location-listing td {
  padding-top:8px;
  padding-bottom:8px;
}
