/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.site-name-slogan {
  left: 120px;
  top: -66px;
}

#block-system-main-menu {
  position: relative;
  top: -2em;
}

#block-system-main-menu ul {
  text-align: center;
}

#block-system-main-menu li {
  text-align: left;
  display: inline;
}

#block-search-form {
  right: 0px;
  top: -120px;
}

