/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Fonts */

body {
  font: 150% Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Helvetica, Arial, sans-serif;
}
a,a:link,a:active,a:visited {
  text-decoration: underline;
}

html :focus{
    outline: 2px solid white;
  }

#skip-link a:focus{
  outline: 2px solid white;
}

/* Tables */
tr.odd td,
tr.even td,
tr.odd td.active,
tr.even td.active,
tr:hover td,
tr:hover td.active,
tr.odd:hover td,
tr.even:hover td,
tr.odd:hover td.active,
tr.even:hover td.active{
  background-color:white;
}

.view-id-location_listing thead {
  display:none;  
}
.view-id-location_listing table,
.view-id-location_listing td {
  border:none;
}
.view-id-location_listing td {
  padding-left:0;  
}
.view-id-location_listing tr {
  border-top:1px solid black;
  border-right:none;
  border-bottom:none;
  border-left:none;
}

/* Layout */


#block-system-main-menu,
.site-name-slogan,
#block-search-form {
  margin: 1em 0px;
}

.logo-img {
  width: 100%;
  text-align: center;
}

.site-name-slogan {
  color: #666;
  font-style: italic;
  float: none;
  text-align: center;
}

#block-search-form {
  text-align: center;
}

#block-system-main-menu .block-title {
  display: none;
}

#block-system-main-menu li {
  list-style: none;
  text-align: center;
}

/* Hide OpenLayers Map Popup - http://drupal.org/node/1540534 */

.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
visibility:hidden;
}




img {
  max-width:100%;
  width:auto;
  height:auto;
}

.front #section-header{
  /*margin-top:2em;*/
}

#region-branding {
  /*padding-top:15px;*/
  padding-bottom:5px;
}
#zone-branding-wrapper {
  color:white;
  /*PADding-top:.75em;*/
  background-color:rgba(57, 39, 91, 0.8);
}
#zone-menu-wrapper {
  background-color:#85754d;
  /*padding-top:.55em;*/
}
#zone-menu-wrapper ul {
  height:100%;
}
#zone-menu-wrapper ul li {
  background-color: transparent;
}

#mobile-menu-link {
  cursor:pointer;
}

#zone-menu .menu li,
#mobile-menu-link.expanded {
  border-bottom:1px solid black;
}

#zone-menu #mobile-menu-link.collapsed {
  border-bottom:none;
}

#mobile-menu-link.collapsed:after {
content: " + ";
}

#mobile-menu-link.expanded:after {
content: " - ";
}

#zone-menu .menu li.last{
  border-bottom:none;
}
#zone-menu .menu li a:link,
#zone-menu .menu li a:visited,
#mobile-menu-link{
  text-decoration:none;
  /*font-size:2.5em;*/
}

body.not-front #zone-menu .menu li:not(#mobile-menu-link) {
  display:none;
}

body.front #block-block-8 p img{
  /* display:none;  Hide slideshow on mobile */
}

body.front #block-block-9 {
  displAY:none; /* Hide IE7 background image by default */
}

.views-view-grid.cols-2 td {
width:49%;
}
.views-view-grid.cols-2 a:link,
.views-view-grid.cols-2 a:visited{
  text-decoration:none;
}
.views-view-grid.cols-2 td.col-1 {
  border-right:1px solid #CCC;
}

.view-location-listing ul li {
  list-style: disc;  
}
.panel-pane.pane-entity-field {
  margin-bottom:1em;
}

.field-name-field-location-category .field-item:not(:last-child):after {
  content: ", ";
}

#zone-footer-wrapper {
  background-color:transparent;
  color:#39275B;
}

.front #zone-footer-wrapper .region-inner{
  color:#fff;
  background-color:rgba(57, 39, 91, 0.8);
  transition: all 0.5s ease;
  min-height:8em;
  padding-left:1em;
  padding-right:1em;
  margin-top:1em;
}

.region-footer-top-first-inner{
  margin-top:1em;  
}

#zone-postscript-wrapper {
  background-color:rgb(57, 39, 91);
  color:white;
}
.page-taxonomy-term #page-title {
  display:none;
}


#zone-menu ul.menu li a:link,
#zone-menu ul.menu li a:visited{
font-size:125%;
}

#block-block-7{
display:none;
visibility:hidden;
}

.deal{
font-weight:bold;
color:rgb(0,127,0);

}
